@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

/*Global styles*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

:root{
	--main-font: 'Archia Medium';
	--main-font-color: #252525;
  --blue: #0036b2;
  --green: #47e500;
}

::selection {
  background-color: var(--green);
}

a {
  color: var(--main-font-color);
}

body {
  background-color: var(--blue);
}

/* Start Menu */

.menu {
  background-color: #fff;
  margin-top: 2px;
}

/* Icon Burguer */
.menu-toggle {
	width: 100%;
	padding: 15px;
  padding-bottom: 45px;
}

.icon-burguer {
  border: 1px #dddddd solid;
  padding: 8px;
  padding-bottom: 3px;
  border-radius: 4px;
  position: absolute;
	right: 15px;
  top: 10px;
  width: 60px;
  display: grid;
  justify-content: center;
}

.fa-icon {
  width: 20px;
  cursor: pointer;
  opacity: 0.2;
}

/* Menu bar*/

.nav-menu li {
	padding-left: 16px;
	padding-bottom: 10px;
	text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 4px;
  line-height: 25px;
  cursor: pointer;
}

.close {
	display: none;
}

.open {
	display: block;
}

/* End Menu */

/* Start Header */

.principal {
	color: #fff;
  text-align: center;
}

.principal .title {
  padding: 40px 20px;
  margin: auto;
}

.principal h1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 90px;
}

.principal strong {
  font-weight: 700;
  text-transform: capitalize;
}

.sub-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 5.2px;
  width: 100%;
  max-width: 680px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.principal h2 {
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  width: 100%;
  max-width: 350px;
  margin: auto;
  line-height: 55px;
  letter-spacing: 5.2px;
  padding-top: 1.2;
  padding-bottom: 100px;
}

.img-3 {
  width: 300px;
}

.img-5 {
  text-align: left;
}

.img-5 img {
  width: 100%;
}

.sub-title p:first-child:first-letter,
.principal h2:first-letter,
.grid div h4::first-letter,
.services h3::first-letter  { /* Pega a primeira letra */
  text-transform: capitalize;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100%;
  max-width: 450px;
  margin: auto;
  text-align: center;
}

.grid div {
  padding-bottom: 40px; 
}

.grid div h4 {
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 3.6px;
}

.grid div h4:nth-child(2) {
  margin-bottom: 22px;
}

.grid div p {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

/* End Header */

/* Start Services */

section .container {
  background-color: #fff;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 10px;
}

.services {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.first-service, .second-service {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
  max-width: 400px;
}

.services h3 {
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 5.2px;
  color: var(--blue);
  padding: 20px 50px;
}

.services .line {
  width: 100%;
  background-color: var(--blue);
  height: 3px;
}

.services p {
  padding: 20px 30px;
}

.spotlight {
  font-weight: 600;
  color: var(--green);
  font-size: 20.1px;
}

/* Start Portifolio */

.clients {
  font-weight: 600;
  margin-bottom: 100px;
}

.clients img {
  width: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clients h3 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 45px;
  line-height: 1.33;
  letter-spacing: 4.5px;
  padding-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.clients span, h3 {
  color: var(--blue);
}

.clients p {
  text-align: center;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 2.7px;
  margin: auto;
  max-width: 400px;
}

/* Desktop */
@media screen and (min-width: 1000px) {

  /* Start Menu */
	.menu-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
    margin: 1%;
    margin-top: 2px;
    margin-inline-end: 23%;
    justify-content: flex-end;
  }

  .nav-menu li {
    margin-left: 25px;
    padding: 10%;
  }

  /* Start Header */
  .grid {
    flex-direction: row;
    max-width: 1000px;
  }
  .grid div {
    margin: 20px; 
  }

  .grid div:last-child {
    width: 1200px;
  }

  /* Start Services */
  .services {
    flex-direction: row;
    justify-content: center;
    max-width: none;
    margin: none;
  }

  .img-3 {
    width: 700px;
  }

  /* Start poritoflio */
  .list-clients {
    display: grid;
    justify-content: center;
    margin: auto;
  }

  .client {
    display: flex;
    width: 500px;
  }

  .client:nth-child(even) {
    margin-left: 450px;
    display: flex;
    justify-content: start;
    padding-left: 10px;
  }
}

@media screen and (min-width: 550px) {
  /*  Start Header */

  .principal .title {
    width: 600px;
  }

  .principal h1 {
    font-size: 7rem;
    line-height: 125px;
  }

  .principal h2 {
    max-width: 500px;
  }

  /*  End Header */
}

/* Start Form*/
.form {
  color: white;
  text-align: center;
}

.form h1 {
  font-weight: lighter;
  font-size: 1.8rem;
  letter-spacing: 4px;
}

.form-title {
 padding-top: 90px;
 padding-bottom: 20px; 
}

.form span {
  color: var(--green);
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

form {
  display: grid;
}

.form .inputs {
  width: 90%;
  margin: auto;
}

form label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding-top: 20px;
  text-align: left;
}

form input {
  background-color: var(--blue);
  border: none;
  border-bottom: 1px white solid;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  caret-color: white;
}

form button {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 7px;
  color: black;
  background-color: var(--green);
  border-color: transparent;
  border-radius: 5px;
  width: 180px;
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  cursor: pointer;
  margin-bottom: 182px;
  margin-top: 80px;
}

/* End Form */

/* Start Footer*/
footer {
  text-align: center;
  color: white;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px white solid;
}

footer h4 {
  margin-bottom: 15px;
  letter-spacing: 2px;
}

footer h2 {
  line-height: 38px;
  letter-spacing: 4px;
  font-size: 1.5rem;
}

.title-footer {
  margin-bottom: 10px;
}

footer div {
  margin-bottom: 15px;
  line-height: 25px;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.footer-contact {
  margin-top: 15px;
}

footer button {
  text-transform: uppercase;
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: white;
  border-color: transparent;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-top: 13px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .form .inputs {
    width: 30%;
  }
}

@media screen and (min-width: 900px) {
  .form h1 {
    font-size: 2.8rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 900px;
    margin: auto;
  }  
}

@media screen and (min-width: 600px) {
  .img-5 img {
    width: 500px;
  }
}

@media screen and (max-width: 900px) and (min-width: 800px) {
  footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 750px;
    margin: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .img-3 {
    width: 500px;
  }
}

/* End Footer*/