@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

/*Global styles*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

:root{
	--main-font: 'Archia Medium';
	--main-font-color: #252525;
	--blue: #0036b2;
}

body {
  background-color: var(--blue);
}

/* Start Menu */

.menu {
  background-color: #fff;
}

/* Icon Burguer */
.menu-toggle {
	width: 100%;
	padding: 15px;
	padding-bottom: 50px;
}

.fa-icon {
	width: 30px;
	position: absolute;
	right: 20px;
  top: 15px;
  cursor: pointer;
}

/* Menu bar*/

.nav-menu li {
	padding-left: 30px;
	padding-bottom: 10px;
	text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 4px;
  line-height: 25px;
  cursor: pointer;
}

.close {
	display: none;
}

.open {
	display: block;
}

/* End Menu */

/* Start Header */

.principal {
	color: #fff;
  text-align: center;
}

.principal .title {
  padding: 40px 20px;
  margin: auto;
}

.principal h1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 90px;
}

.principal strong {
  font-weight: 700;
  text-transform: capitalize;
}

.sub-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 5.2px;
  width: 100%;
  max-width: 680px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.principal h2 {
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  width: 100%;
  max-width: 350px;
  margin: auto;
  line-height: 55px;
  letter-spacing: 5.2px;
  padding-top: 1.2;
  padding-bottom: 100px;
}

.sub-title p:first-child:first-letter,
.principal h2:first-letter,
.grid div h4::first-letter  { /* Pega a primeira letra */
  text-transform: capitalize;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100%;
  max-width: 450px;
  margin: auto;
  text-align: center;
}

.grid div {
  padding-bottom: 40px; 
}

.grid div h4 {
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 3.6px;
  margin-bottom: 20px;
}

.grid div p {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

/* End Header */

/* Start Services */

section .container {
  background-color: #fff;
  text-align: center;
  padding: 10%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-service, .second-service {
  background-color: pink;
  margin-bottom: 30px;
}

/* Desktop */
@media screen and (min-width: 1000px) {

  /* Start Menu */
	.menu-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
    margin: 1%;
    margin-top: 2px;
    margin-inline-end: 23%;
    justify-content: flex-end;
  }

  .nav-menu li {
    margin-left: 25px;
    padding: 10%;
  }

  /* Start Header */
  .grid {
    flex-direction: row;
    max-width: 1000px;
  }
  .grid div {
    margin: 20px; 
  }

  .grid div:last-child {
    width: 1200px;
  }

  /* Start Service */
  .services {
    flex-direction: row;
  }

  .first-service, .second-service {
    margin-right: 30px;
    width: 400px;
  }
}

@media screen and (min-width: 550px) {
  /*  Start Header */

  .principal .title {
    width: 600px;
  }

  .principal h1 {
    font-size: 7rem;
    line-height: 125px;
  }

  .principal h2 {
    max-width: 500px;
  }

  /*  End Header */
}